.about-section {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-primary {
  text-decoration: none;
}