:root {
  --primary-color: #35424a;      /* Dark Blueish Gray */
  --secondary-color: #e07a5f;    /* Salmon Pink */
  --third-color: #81b29a;        /* Sage Green */
  --text-color: #f3e9d2;         /* Ivory White */
  --background-color: #2a363b;   /* Charcoal Gray */
}
